<div class="saleinfo">
<table>
    <thead>
    <tr>
        <th>Bestellung</th>
        <th>Preis</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="desc">
            <strong>
            {{ order.OrderDescription }}
            </strong>

            <br>am {{ order.hvz_vom }} für

            {% if order.hvz_anzahl_tage == 1  %}
            einen Tag
            {% else %}
            {{ order.hvz_anzahl_tage }} Tag
            {% endif %}<br>
            täglich von {{ order.hvz_vom_time }} Uhr bis {{ order.hvz_vom_bis }} Uhr
        </td>
        <td class="desc_price">
            <strong>{{ order.getBrutto }} €</strong>
        </td>
    </tr>
    </tbody>
</table>
</div>
